body { 
  line-height: 1.5; 
  background: #fff; 
  margin:0; 
}

a img { border: none; }


@font-face {
font-family: 'UniversalisADFStdRegular';
src: url('/static/f/UniversalisADFStd-Regular.eot');
src: local('Universalis ADF Std'), local('UniversalisADFStd-Regular'), url('/static/f/UniversalisADFStd-Regular.woff') format('woff'), url('/static/f/UniversalisADFStd-Regular.otf') format('opentype');
}
@font-face {
font-family: 'UniversalisADFStdOblique';
src: url('/static/f/UniversalisADFStd-Oblique.eot');
src: local('Universalis ADF Std'), local('UniversalisADFStd-Oblique'), url('/static/f/UniversalisADFStd-Oblique.woff') format('woff'), url('/static/f/UniversalisADFStd-Oblique.otf') format('opentype');
}
@font-face {
font-family: 'UniversalisADFStdBold';
src: url('/static/f/UniversalisADFStd-Bold.eot');
src: local('Universalis ADF Std'), local('UniversalisADFStd-Bold'), url('/static/f/UniversalisADFStd-Bold.woff') format('woff'), url('/static/f/UniversalisADFStd-Bold.otf') format('opentype');
}


body {
    background-color: black;
    color: white;
    font: normal medium UniversalisADFStdRegular;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#count {
    color: #FEFE3F;
    font-size: 40px;
}

#guess, #suggest, h1, h2, a, .value {
    color: #FEFE3F;
}

#retrain, #display_data {
    text-align: left;
    float: left;
}
