$def with (page)

<!DOCTYPE html>
<html lang="en">
<head>
    <title>20 Questions</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script src="/static/jquery-1.4.2.min.js"></script>
    <script src="/static/jquery.shortkeys.js"></script>
    <script src="/static/answer_actions.js"></script>
    <script src="/static/learn_actions.js"></script>
</head>
<body>

<header>
    <hgroup>
        <h1>Welcome to 20 Questions!</h1>
    </hgroup>
</header>

$:page
</body>
</html>
