$def with (question, count, nearby_objects)


$if question == 'begin':
    <header>
        <hgroup>
            <h1>Welcome to 20 Questions!</h1>
        </hgroup>
    </header>
    <h1>Think of a person (real or fictional)...</h1>
    <br />
    <form action="/begin" method="post">
        <input type="submit" value="Begin!">
    </form>
$elif question:
    <p><span id="count">$count.</span> $question.text</p>
    <form action="/answer/$question.id" method="post" id="answer_form">
        <input type="button" name="yes" value="yes">
        <input type="button" name="unsure" value="unsure">
        <input type="button" name="no" value="no">
        <input type="hidden" name="answer">
    </form>
    <br />
    <form action="/restart" method="post">
        <input type="submit" value="restart">
    </form>
$else:
    <p>I DO NOT KNOW WHAT TO DO HERE. (guess)</p>

$if nearby_objects:
    <h2>Considering...</h2>
    $for object in nearby_objects:
        <p>$object.name</p>
