$def with(nearby_objects)

<!--
<form action="/learn" method="post">
    <h1>If your character is in this list, make your choice and press submit.</h1>
    $for object in nearby_objects:
        <input type="radio" name="name" value="$object.name">$object.name
        <br />
    <input type="submit" value="submit">        
</form>
-->



<!--
MAKE THIS ONLY APPEAR AFTER JAVASCRIPT SAYING IT WASN'T IN NEARBY OBJECTS
-->
<form action="/learn" method="post">
    <h1>Who were you thinking of?</h1>
    <input type="text" name="name">
    <br />
    <h2>Suggest a question?</h2>
    <input type="text" name="question">
    <br />
    <input type="submit" value="submit">
</form>
